@font-face {
	font-family: "Antic";
	src: url("./fonts/Antic_Didone/AnticDidone-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Montserrat";
	src: url("./fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
		format("truetype");
}

@font-face {
	font-family: "RedHat-Light";
	src: url("./fonts/RedHat/RedHatDisplay-Light.ttf") format("truetype");
}

@font-face {
	font-family: "RedHat-Medium";
	src: url("./fonts/RedHat/RedHatDisplay-Medium.ttf") format("truetype");
}

:root {
	--white: #fbfbfb;
	--beige: #d0a169;
	--light-orange: #d7be82;
	--orange: #c79346;
	--burnt-orange: #a44a01;
	--light-sage: #b1b7a2;
	--sage: #979d80;
	--dark-green: #335337;
	--green-black: #1e3621;
}

body {
	font-family: "RedHat-Light", sans-serif;
	color: var(--dark-green);
	font-weight: 300;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--green-black);
	background-color: var(--white);
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

body::after {
	content: "";
	background: url("./static/icon-pattern.svg");
	background-size: 20rem;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	opacity: 0.15;
	z-index: -1;
}

h1,
h2 {
	color: var(--dark-green);
	background-color: var(--white);
	text-transform: uppercase;
	letter-spacing: 10px;
}

h1 {
	font-size: 1.5rem;
	margin-bottom: 8px;
}

h2 {
	margin-bottom: 0px;
	margin-top: 8px;
	font-size: 0.75rem;
	letter-spacing: 6px;
}

@media (min-width: 1024px) {
	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1rem;
	}
}
