body {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

@media (min-width: 1024px) {
	body {
		flex-direction: row;
		padding: 0 8%;
	}

	body::after {
		height: 100%;
		width: 45vw;
		left: 0;
		-webkit-clip-path: polygon(0% 0%, 85% 0%, 100% 100%, 0% 100%);
		clip-path: polygon(0% 0%, 85% 0%, 100% 100%, 0% 100%);
	}
}
