body {
	padding: 0;
}

body::after {
	height: 30vh;
}

header {
	position: sticky;
	top: 0;
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	color: var(--dark-green);
	background-color: var(--dark-green);
	padding: 1rem 2rem;
}

header h1 {
	font-size: 1.5rem;
}

.hero-image {
	max-width: 600px;
	margin: 0 auto 36px auto;
}

a {
	color: var(--dark-green);
}

h1 {
	font-size: 1.2rem;
}

h2 {
	font-family: "RedHat-Medium";
}

main {
	padding: 1rem 2rem 2rem 2rem;
	width: 100%;
}

.list-heading {
	margin-top: 36px;
	margin-bottom: 16px;
}

ul {
	margin: 16px 0;
}

li {
	margin: 8px 0;
}

.schedule-item {
	margin-bottom: 42px;
}

.schedule-item h1 {
	margin-bottom: 24px;
}

.schedule-item h2 {
	margin-bottom: 8px;
}

.schedule-item p {
	margin: 4px auto;
}

.event {
	display: flex;
	align-items: center;
}

.icon {
	width: 60px;
	opacity: 0.9;
}

.description {
	margin-left: 24px;
}

#lupinis-blog p {
	margin: 0.5rem 0;
}

@media (min-width: 1024px) {
	main {
		padding: 0;
		max-width: 600px;
		padding-bottom: 8rem;
		margin: 1rem 2rem 2rem 2rem;
	}
}
