body {
	padding: 0;
}

body::after {
	height: 40vh;
}

header {
	position: sticky;
	top: 0;
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	color: var(--dark-green);
	background-color: var(--dark-green);
	padding: 1rem 2rem;
}

header h1 {
	font-size: 1.5rem;
}

.hero-image {
	max-width: 600px;
	margin: 0 auto 36px auto;
}

a {
	color: var(--dark-green);
}

h1 {
	font-size: 1.2rem;
}

main {
	padding: 1rem 2rem 2rem 2rem;
	width: 100%;
}

.list-heading {
	margin-top: 36px;
	margin-bottom: 16px;
}

ul {
	margin: 16px 0;
}

li {
	margin: 8px 0;
}

.schedule-item {
	text-align: center;
	margin-bottom: 42px;
}

.schedule-item .header {
	margin-bottom: 50px;
}

.schedule-item h2 {
	margin-bottom: 8px;
}

.schedule-item p {
	margin: 4px auto;
}

.event {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	border: 1px solid #e9e9e9;
	padding: 3rem 2rem 2rem 2rem;
	position: relative;
	margin-top: 40px;
	text-align: center;
}

.event hr {
	width: 8px;
	margin: 12px auto;
	border: none;
	height: 1px;
	background-color: var(--dark-green);
}

.icon {
	position: absolute;
	top: -30px;
	width: 60px;
	opacity: 0.9;
	left: calc(50% - 30px);
}

.small {
	font-size: 0.85rem;
}

#lupinis-blog p {
	margin: 0.5rem 0;
}

@media (min-width: 1024px) {
	main {
		padding: 0;
		max-width: 600px;
		padding-bottom: 8rem;
		margin: 1rem 2rem 2rem 2rem;
	}

	h1 {
		font-size: 1.4rem;
	}
}
